/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: sans-serif;
}

/* header */

.header-page {
    margin: 20px;
    width: 99%;
}

.header-name {
    vertical-align: text-bottom;
    font-size: 40px;
    font-weight: 900;
}

/* main container */

main {
    width: 100%;
    height: 1000px;
    padding: 50px 0px;
    background-color: #f6f8f9;
}

.total-container {
    width: 70%;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}


/* buttons area */

.buttons-area {
    padding: 20px 20px 5px 50px;
}

.button {
    border-radius: 5px;
    text-align: center;
    padding: 6px 12px;
    border-style: none;
}

.blue.button {
    color: white;
    background-color: #47adf1;
}

.white.button {
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

hr {
    border: 2px solid #f6f8f9;
    margin-top: 5px;
}

/* list area */

.list-area {
    margin: 10px 30px;
}

ul {
    margin-bottom: 40px;
    list-style-type: none;
    font-weight: normal;
}

.time-task {
    font-weight: 600;
    font-size: 16px;
}

li {
    margin: 15px;
}

/* hashtags area */

.hashtag {
    line-height: 20px;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 12px;
}

.editorial {
    background-color: #47adf1;
}

.goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}

/* task status area */

.task {
    font-weight: 700;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
}

.done {
    color: green;
    border: 1px solid green;
}

.undone {
    color: red;
    border: 1px solid red;
}